body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*style nav*/
.nav-container {
  width: 100%;
  min-height: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #ff6900;

  position: fixed;
  top: 0;
  padding: 10px 30px;
}

#logo-boolean {
  width: 160px;
}

/*style main*/

.container {
  max-width: 1200px;
}
